:root {
  --light-clr: rgb(239, 249, 242);
  --transition: all 0.25s ease-in-out;
  --dark-clr: rgb(198, 89, 11);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  background-color: azure;
  place-items: center;
}

.slider {
  width: 80vw;
  max-width: 60rem;
  height: 40vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 8fr 2fr;
  gap: 1em;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.prev {
  left: 0.3em;
}

.next {
  right: 0.3em;
}

.slider button {
  display: inline-block;
  background-color: var(--light-clr);
  color: rgb(192, 199, 206);
  padding: 10px 5px;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
}

.slider button:hover {
  color: var(--dark-clr);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
}

.slide img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide-number {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 1;
}

.slide-number span {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  padding: 0.375em 0.7em;
  background-color: var(--light-clr);
  color: var(--dark-clr);
}

.thumbnails {
  display: flex;
  gap: 0.2em;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
}

.thumbnail:hover,
.active {
  border: 3px solid var(--dark-clr);
}

.thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 576px) {
  .slider {
    height: 45vh;
  }
}

@media screen and (min-width: 768px) {
  .slider {
    height: 55vh;
    width: 60vw;
    gap: 2em;
  }

  .prev {
    left: 0.5em;
  }

  .next {
    right: 0.5em;
  }
  .thumbnails {
    gap: 0.5em;
  }
}

@media screen and (min-width: 992px) {
  .slider {
    height: 65vh;
  }
}
